#mainContainer{
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 5vh;
}

#container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap : 20px;
}

.buttonMain{
    height: 10vh;
    width: 50vh;
    background-color: antiquewhite;
    border-radius: 2vh;
    border: none;
}



