#trainingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
}

#trainings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#trainingContainer > h1 {
    text-align: center;
    width: 100%;
    color: white;
}

.trainingsButton {
    height: 10vh;
    width: 50vh;
    border-radius: 2vh;
    border: none;
    box-shadow: 3px 3px 9px black;
    cursor: pointer;
    font-size: large;
    background-color: rgba(255, 255, 255, 0.5);
}

.trainingsButton:hover {
    background-color: whitesmoke;
    transform: translateY(-5px);
}