#containerAdd {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    width: 100%;
    --s: 200px;
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background: repeating-conic-gradient(
            from 30deg,
            #0000 0 120deg,
            var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
        repeating-conic-gradient(
            from 30deg,
            var(--c1) 0 60deg,
            var(--c2) 0 120deg,
            var(--c3) 0 180deg
        );
    background-size: var(--s) calc(var(--s) * 0.577);
}

#formAdd {
    display: flex;
    color: white;
    font-style: italic;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    padding: 20px;
    gap: 10px;
    align-items: center;
    border-radius: 3vh;
    box-shadow: 5px 5px 10px gray;

    --bg-light: #efefef;
    --bg-dark: #707070;
    --clr: #58bc82;
    --clr-alpha: #9c9c9c60;
    max-width: 300px;
    border: none;
    background-color: var(--clr-alpha);
    outline: 2px solid var(--clr);
}

#formAdd .input-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#formAdd .submit {
    padding: 1rem 0.75rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 0.9rem;
}

#formAdd .submit:hover {
    background-color: var(--clr);
    color: var(--bg-dark);
}
